@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
  font-family: "ClassyVogue";
  src: url("/src/assets/fonts/ClassyVoguePersonalUse.otf") format("opentype");
}

@import "tailwindcss";

.font-classy {
    font-family: "ClassyVogue", sans-serif;
}

.font-rope {
    font-family: 'Manrope', sans-serif;
}


body {
    background-color: #191919;
}

.button {
    width: max-content;
}